@font-face {
    font-family: 'PFEncoreSansPro-Black';
    src: url('/assets/fonts/PFEncoreSansPro-Black.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'PFEncoreSansPro-Regular';
    src: url('/assets/fonts/PFEncoreSansPro-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'date-grades';
    src: url('/assets/fonts/DMSans_24pt-Black.ttf') format('truetype');
    font-style: normal;
}

.primary-text {
    color: #11241C;
    font-family: "PFEncoreSansPro-Black", serif;
    font-size: 12px;
    font-weight: 900;
    line-height: normal;
    text-decoration: none;
    text-transform: capitalize;
}

.third-text {
    color: rgba(17, 36, 28, 0.65);
    font-family: "PFEncoreSansPro-Regular", serif;
    font-size: 12px;
    text-decoration: none;
    line-height: normal;
}

.subheading {
    color: #11241C;
    font-family: "PFEncoreSansPro-Black", serif;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
}

.subject-grade {
    color: rgba(17, 36, 28, 0.80);
    text-align: center;
    font-family: "PFEncoreSansPro-Black", serif;
    font-size: 18px;
}